*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f6fa;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87.5rem;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: white;
}

.nav-items{
  display: flex;
  gap: 20px;
  align-items: center;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.pages{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  color: #121212;
  text-decoration: none;
}

img{
  cursor: pointer;
}

.book-list-container{
  width: 75rem;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}